<div class="form-item">
    <label for="">New Form</label>
    <form action="/item" method="post" name="additem">
        <input type="text" name="text" >
        <input type="text" name="date">
        <input type="text" name="post">
        <button type="submit">send</button>
    </form>
</div>

<script src="/js/item.js" defer></script>
