<h1>Welcome, {{userName}}</h1>
<div class="box" style="border: black 2px solid">
    <h2>Your actions</h2>
    <div class="item" >Your item</div>

</div>
<!--<ul>-->
<!--    {{#unless user.userName}}-->
<!--        <li><a href="/register">Register</a></li>-->
<!--        <li><a href="/login">Login</a></li>-->
<!--    {{/unless}}-->
<!--    {{#if user.userName}}-->
<!--        <li><a href="/logout">Logout</a></li>-->
<!--        <li><a href="/user/{{user.userName}}"></a>{{user.userName}}</li>-->
<!--    {{/if}}-->
<!--</ul>-->
